:not(.v-card) > .v-form {
    padding-bottom: 60px;
}

:not(.v-card) > .v-form h1 {
    font-weight: normal;
    margin: 20px;
}

:not(.v-card) > .v-form h2 {
    font-weight: normal;
    margin: 10px 20px;
}

:not(.v-card) > .v-form .v-text-field {
    margin: 5px 20px;
}

:not(.v-card) > .v-form .v-list {
    border-top: 1px solid #f0f0f0;
    border-radius: 0;
}

:not(.v-card) > .v-form .v-list .v-text-field {
    padding-top: 0;
}
